   # Visual Data Analysis of Fraudulent Transactions

In [15]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [16]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/credit_card_db")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [17]:
# loading data for card holder 2 and 18 from the database
#Querying tables
query = "SELECT * FROM card_holder;"

# query= 'SELECT * FROM card_holder;'
#load data into dataframe
card_holder_df=pd.read_sql(query, engine)
#Show Dataframe
card_holder_df.reset_index().head()

   index  id_card_holder              name
0      0               1    Robert Johnson
1      1               2     Shane Shaffer
2      2               3  Elizabeth Sawyer
3      3               4    Danielle Green
4      4               5       Sara Cooper

In [18]:
query2='SELECT * FROM credit_card;'

credit_card_df=pd.read_sql(query2, engine)
credit_card_df.head()

                  card  id_card_holder
0     3517111172421930               1
1  4761049645711555811               1
2  4866761290278198714               2
3         675911140852               2
4       30078299053512               3

In [19]:
query3='SELECT * FROM transaction;'
transaction_df=pd.read_sql(query3, engine)
transaction_df.head()

   t_id                date  amount              card  id_merchant
0   222 2018-01-01 21:35:10    6.22  3561954487988605           69
1  2045 2018-01-01 21:43:12    3.83  5135837688671496           85
2   395 2018-01-01 22:41:21    9.61   213193946980303           82
3  3309 2018-01-01 23:13:30   19.03  4263694062533017            5
4   567 2018-01-01 23:15:10    2.95     4498002758300           64

JOIN credit_card ON card_holder.id_card_holder = credit_card.id_card_holder
JOIN transaction ON credit_card.card = transactions.card
GROUP BY CONCAT(card_holder.name)

In [20]:
#Join into DF for Line Graph
query4='''
SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card;   '''

line_data=pd.read_sql(query4, engine)
line_data.head()

   id_card_holder               name  amount                date
0              13        John Martin    6.22 2018-01-01 21:35:10
1              13        John Martin    3.83 2018-01-01 21:43:12
2              10  Matthew Gutierrez    9.61 2018-01-01 22:41:21
3               4     Danielle Green   19.03 2018-01-01 23:13:30
4              18      Malik Carlson    2.95 2018-01-01 23:15:10

In [23]:
# plot for cardholder 2
query5='''SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=2'''
card_holder_2=pd.read_sql(query5,engine)
card_holder_2.head()
    
card_holder_2.hvplot.line(x='date', y='amount')

:Curve   [date]   (amount)

In [24]:
# plot for cardholder 18
query6='''SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=18'''
card_holder_18=pd.read_sql(query6,engine)
card_holder_18.head()

card_holder_18.hvplot.line(x='date', y='amount')

:Curve   [date]   (amount)

In [11]:
# combined plot for card holders 2 and 18
query7='''
SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=2 OR cc.id_card_holder=18'''

combined_df=pd.read_sql(query7,engine)
combined_df.head()
# pd.concat([df1, df2],axis=1)

   id_card_holder           name  amount                date
0              18  Malik Carlson    2.95 2018-01-01 23:15:10
1              18  Malik Carlson    1.36 2018-01-05 07:19:27
2               2  Shane Shaffer    1.33 2018-01-06 02:16:41
3               2  Shane Shaffer   10.82 2018-01-06 05:13:20
4              18  Malik Carlson  175.00 2018-01-07 01:10:54

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2