   # Visual Data Analysis of Fraudulent Transactions

In [13]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [2]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/credit_card_db")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [3]:
# loading data for card holder 2 and 18 from the database
#Querying tables
query = "SELECT * FROM card_holder;"

# query= 'SELECT * FROM card_holder;'
#load data into dataframe
card_holder_df=pd.read_sql(query, engine)
#Show Dataframe
card_holder_df.reset_index().head()

   index  id_card_holder              name
0      0               1    Robert Johnson
1      1               2     Shane Shaffer
2      2               3  Elizabeth Sawyer
3      3               4    Danielle Green
4      4               5       Sara Cooper

In [4]:
query2='SELECT * FROM credit_card;'

credit_card_df=pd.read_sql(query2, engine)
credit_card_df.head()

                  card  id_card_holder
0     3517111172421930               1
1  4761049645711555811               1
2  4866761290278198714               2
3         675911140852               2
4       30078299053512               3

In [5]:
query3='SELECT * FROM transaction;'
transaction_df=pd.read_sql(query3, engine)
transaction_df.head()

   t_id                date  amount              card  id_merchant
0   222 2018-01-01 21:35:10    6.22  3561954487988605           69
1  2045 2018-01-01 21:43:12    3.83  5135837688671496           85
2   395 2018-01-01 22:41:21    9.61   213193946980303           82
3  3309 2018-01-01 23:13:30   19.03  4263694062533017            5
4   567 2018-01-01 23:15:10    2.95     4498002758300           64

In [22]:
#Join into DF for Line Graph
query4='''
SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card;
'''

line_data=pd.read_sql(query4, engine)
line_data.head()

   id_card_holder               name  amount                date
0              13        John Martin    6.22 2018-01-01 21:35:10
1              13        John Martin    3.83 2018-01-01 21:43:12
2              10  Matthew Gutierrez    9.61 2018-01-01 22:41:21
3               4     Danielle Green   19.03 2018-01-01 23:13:30
4              18      Malik Carlson    2.95 2018-01-01 23:15:10

# Question 1: How can  you isolate (or group) the transactions of each card holder?
### By using a WHERE statement, you can isolate specific card_holders and their individual transactions

# Consider the time period 7:00 AM to 9:00 AM
## What are the 100 highest transactions during this time period?

## Are there fraudulent/anomalous transactions

## If yes, explain why there might be fraudulent transactions at this time.

# Count transactions that are less than 2.00 (which are typically ignored by cardholders).
# Is there evidence to explain a credit card has been hacked?

In [34]:
query8='''
SELECT cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE amount <=2
ORDER BY id_card_holder ASC;'''
lowest_purch_df=pd.read_sql(query8, engine)
lowest_purch_df.head()

   id_card_holder            name  amount                date
0               1  Robert Johnson    1.72 2018-01-11 19:36:21
1               1  Robert Johnson    1.98 2018-06-08 13:48:44
2               1  Robert Johnson    0.76 2018-03-10 23:00:35
3               1  Robert Johnson    1.54 2018-10-05 19:04:16
4               1  Robert Johnson    1.26 2018-03-30 17:36:58

In [23]:
#plot for cardholder 2
query5='''SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=2'''
card_holder_2=pd.read_sql(query5,engine)
card_holder_2.head()
    
card_holder_2.hvplot.line(x='date', y='amount')

:Curve   [date]   (amount)

In [24]:
# plot for cardholder 18
query6='''SELECT
cc.id_card_holder, ch.name,t.amount, t.date
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=18'''
card_holder_18=pd.read_sql(query6,engine)
card_holder_18.head()

card_holder_18.hvplot.line(x='date', y='amount')

:Curve   [date]   (amount)

In [52]:
# combined plot for card holders 2 and 18
query7='''
SELECT
cc.id_card_holder, ch.name,t.amount, CAST(t.date as TIME) as time
FROM credit_card as cc
INNER JOIN card_holder as ch ON cc.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=2 
OR cc.id_card_holder=18
ORDER BY "time" ASC '''

combined_df=pd.read_sql(query7,engine)
combined_df.head(20)

    id_card_holder           name  amount      time
0               18  Malik Carlson   12.92  00:05:21
1                2  Shane Shaffer   12.11  00:05:30
2               18  Malik Carlson    5.87  00:11:12
3               18  Malik Carlson    2.75  00:11:44
4               18  Malik Carlson   20.75  00:17:03
5                2  Shane Shaffer    3.42  00:19:48
6               18  Malik Carlson   10.12  00:29:28
7               18  Malik Carlson   19.22  00:34:37
8               18  Malik Carlson  175.00  01:10:54
9                2  Shane Shaffer   10.26  01:50:13
10               2  Shane Shaffer    1.01  01:52:16
11              18  Malik Carlson  121.00  01:56:19
12              18  Malik Carlson   16.26  01:56:33
13               2  Shane Shaffer    1.58  01:57:52
14              18  Malik Carlson   18.65  02:00:47
15               2  Shane Shaffer   13.06  02:08:07
16               2  Shane Shaffer    1.33  02:16:41
17              18  Malik Carlson   10.11  02:19:05
18              18  Malik Carlson   11.35  02:22:09
19              18  Malik Carlson   15.57  02:22:46

In [38]:
combined_df.hvplot(x='date', y='amount', by='id_card_holder')

:NdOverlay   [id_card_holder]
   :Curve   [date]   (amount)

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [41]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
query9='''
SELECT cc.id_card_holder, ch.name,t.amount, CAST(t.date AS DATE)
FROM credit_card as cc
INNER JOIN card_holder as ch ON ch.id_card_holder=ch.id_card_holder
INNER JOIN transaction as t ON t.card=cc.card
WHERE cc.id_card_holder=25;'''

card_holder_25=pd.read_sql(query9,engine)
card_holder_25.head(20)

    id_card_holder            name   amount        date
0               25  Robert Johnson     1.46  2018-01-02
1               25  Robert Johnson    10.74  2018-01-05
2               25  Robert Johnson     2.93  2018-01-07
3               25  Robert Johnson     1.39  2018-01-10
4               25  Robert Johnson    17.84  2018-01-14
5               25  Robert Johnson     1.65  2018-01-16
6               25  Robert Johnson    15.86  2018-01-18
7               25  Robert Johnson     2.22  2018-01-21
8               25  Robert Johnson  1177.00  2018-01-30
9               25  Robert Johnson     2.75  2018-01-31
10              25  Robert Johnson    10.75  2018-02-02
11              25  Robert Johnson    10.81  2018-02-05
12              25  Robert Johnson     5.97  2018-02-07
13              25  Robert Johnson     3.69  2018-02-12
14              25  Robert Johnson    16.70  2018-02-18
15              25  Robert Johnson     1.26  2018-02-23
16              25  Robert Johnson     2.63  2018-02-23
17              25  Robert Johnson    11.01  2018-02-23
18              25  Robert Johnson     0.91  2018-02-28
19              25  Robert Johnson     1.18  2018-02-28

In [45]:
# change the numeric month to month names

AttributeError: 'DataFrame' object has no attribute 'pd'

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2